<a href="https://colab.research.google.com/github/ThienNguyen3001/Graph-Theory-ArangoDB-Final/blob/main/Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Chuẩn bị

* Gọi môi trường

In [1]:
%%capture
!git clone https://github.com/ThienNguyen3001/Graph-Theory-ArangoDB-Final.git
!rsync -av Graph-Theory-ArangoDB-Final/ ./ --exclude=.git
!pip3 install pyarango
!pip3 install "python-arango>=5.0"

In [2]:
import json
import requests
import sys
import time

import oasis
from pyArango.connection import *
from arango import ArangoClient

* **Tạo cơ sở dữ liệu tạm thời**

In [3]:
# Retrieve tmp credentials from ArangoDB Tutorial Service
login = oasis.getTempCredentials(tutorialName='test',
                                 credentialProvider='https://tutorials.arangodb.cloud:8529/_db/_system/tutorialDB/tutorialDB')

# Connect to the temp database
conn = oasis.connect(login)
db = conn[login['dbName']]

Sử dụng lại thông tin đăng nhập được lưu trong bộ nhớ đệm.

* **Xem thông tin DB đã tạo**

In [4]:
print('https://{}:{}'.format(login['hostname'], login['port']))
print('Username: ' + login['username'])
print('Password: ' + login['password'])
print('Database: ' + login['dbName'])

https://tutorials.arangodb.cloud:8529
Username: TUTzeactidlhzrfqljqdvqvfw
Password: TUTbu0i2ewae6km4zr48jccp
Database: TUT8zhqd5mkerb1udmhkvnxa8

In [5]:
print(type(login), login, sep='\n')

<class 'dict'>
{'dbName': 'TUT8zhqd5mkerb1udmhkvnxa8', 'username': 'TUTzeactidlhzrfqljqdvqvfw', 'password': 'TUTbu0i2ewae6km4zr48jccp', 'hostname': 'tutorials.arangodb.cloud', 'port': 8529}

# 2. Tạo dữ liệu AQL

* **Tạo collection "Collection" trong DB**

Các bộ sưu tập trong ArangoDB. Chúng chỉ được thao tác thông qua các ngôn ngữ Ngôn ngữ truy vấn Arango NoSQL (AQL). Các hướng dẫn bên dưới tạo ra một bộ sưu tập và có thể liên quan đến các hướng dẫn DDL của ngôn ngữ SQL. Trong ví dụ này, nhóm sẽ tạo các nhân vật trong loạt phim "*Game of Thrones*".

In [6]:
collecName = 'Characters'
if collecName not in db.collections:
	db.createCollection(name=collecName)
else:
	print(f"Collection '{collecName}' đã tồn tại")

Collection 'Characters' đã tồn tại

* **Thêm data bằng Insert**

In [7]:
insert_query = """
INSERT {
    "name": "Ned",
    "surname": "Stark",
    "alive": true,
    "age": 41,
    "traits": ["A","H","C","N","P"]
} INTO Characters
"""

db.AQLQuery(insert_query)

* Lấy tất cả các nhân vật trong bản ghi

In [8]:
all_characters = """
FOR c IN Characters
    RETURN c
"""

query_result = db.AQLQuery(all_characters, rawResults=True)

for doc in  query_result:
    print(doc)
    print()

{'_key': '266280148824', '_id': 'Characters/266280148824', '_rev': '_i4tkqPm---', 'name': 'Ned', 'surname': 'Stark', 'alive': True, 'age': 41, 'traits': ['A', 'H', 'C', 'N', 'P']}

{'_key': '266280148832', '_id': 'Characters/266280148832', '_rev': '_i4tktsK--A', 'name': 'Robert', 'surname': 'Baratheon', 'alive': False, 'traits': ['A', 'H', 'C']}

{'_key': '266280148833', '_id': 'Characters/266280148833', '_rev': '_i4tktsK--B', 'name': 'Jaime', 'surname': 'Lannister', 'alive': True, 'age': 36, 'traits': ['A', 'F', 'B']}

{'_key': '266280148834', '_id': 'Characters/266280148834', '_rev': '_i4tktsK--C', 'name': 'Catelyn', 'surname': 'Stark', 'alive': False, 'age': 40, 'traits': ['D', 'H', 'C']}

{'_key': '266280148835', '_id': 'Characters/266280148835', '_rev': '_i4tktsK--D', 'name': 'Cersei', 'surname': 'Lannister', 'alive': True, 'age': 36, 'traits': ['H', 'E', 'F']}

{'_key': '266280148836', '_id': 'Characters/266280148836', '_rev': '_i4tktsK--E', 'name': 'Daenerys', 'surname': 'Targaryen', 'alive': True, 'age': 16, 'traits': ['D', 'H', 'C']}

{'_key': '266280148837', '_id': 'Characters/266280148837', '_rev': '_i4tktsK--F', 'name': 'Jorah', 'surname': 'Mormont', 'alive': False, 'traits': ['A', 'B', 'C', 'F']}

{'_key': '266280148838', '_id': 'Characters/266280148838', '_rev': '_i4tktsK--G', 'name': 'Petyr', 'surname': 'Baelish', 'alive': False, 'traits': ['E', 'G', 'F']}

{'_key': '266280148839', '_id': 'Characters/266280148839', '_rev': '_i4tktsK--H', 'name': 'Viserys', 'surname': 'Targaryen', 'alive': False, 'traits': ['O', 'L', 'N']}

{'_key': '266280148840', '_id': 'Characters/266280148840', '_rev': '_i4tktsK--I', 'name': 'Jon', 'surname': 'Snow', 'alive': True, 'age': 16, 'traits': ['A', 'B', 'C', 'F']}

{'_key': '266280148841', '_id': 'Characters/266280148841', '_rev': '_i4tktsK--J', 'name': 'Sansa', 'surname': 'Stark', 'alive': True, 'age': 13, 'traits': ['D', 'I', 'J']}

{'_key': '266280148842', '_id': 'Characters/266280148842', '_rev': '_i4tktsK--K', 'name': 'Arya', 'surname': 'Stark', 'alive': True, 'age': 11, 'traits': ['C', 'K', 'L']}

{'_key': '266280148843', '_id': 'Characters/266280148843', '_rev': '_i4tktsK--L', 'name': 'Robb', 'surname': 'Stark', 'alive': False, 'traits': ['A', 'B', 'C', 'K']}

{'_key': '266280148844', '_id': 'Characters/266280148844', '_rev': '_i4tktsK--M', 'name': 'Theon', 'surname': 'Greyjoy', 'alive': True, 'age': 16, 'traits': ['E', 'R', 'K']}

{'_key': '266280148845', '_id': 'Characters/266280148845', '_rev': '_i4tktsK--N', 'name': 'Bran', 'surname': 'Stark', 'alive': True, 'age': 10, 'traits': ['L', 'J']}

{'_key': '266280148846', '_id': 'Characters/266280148846', '_rev': '_i4tktsK--O', 'name': 'Joffrey', 'surname': 'Baratheon', 'alive': False, 'age': 19, 'traits': ['I', 'L', 'O']}

{'_key': '266280148847', '_id': 'Characters/266280148847', '_rev': '_i4tktsK--P', 'name': 'Sandor', 'surname': 'Clegane', 'alive': True, 'traits': ['A', 'P', 'K', 'F']}

{'_key': '266280148848', '_id': 'Characters/266280148848', '_rev': '_i4tktsK--Q', 'name': 'Tyrion', 'surname': 'Lannister', 'alive': True, 'age': 32, 'traits': ['F', 'K', 'M', 'N']}

{'_key': '266280148849', '_id': 'Characters/266280148849', '_rev': '_i4tktsK--R', 'name': 'Khal', 'surname': 'Drogo', 'alive': False, 'traits': ['A', 'C', 'O', 'P']}

{'_key': '266280148850', '_id': 'Characters/266280148850', '_rev': '_i4tktsK--S', 'name': 'Tywin', 'surname': 'Lannister', 'alive': False, 'traits': ['O', 'M', 'H', 'F']}

{'_key': '266280148851', '_id': 'Characters/266280148851', '_rev': '_i4tktsK--T', 'name': 'Davos', 'surname': 'Seaworth', 'alive': True, 'age': 49, 'traits': ['C', 'K', 'P', 'F']}

{'_key': '266280148852', '_id': 'Characters/266280148852', '_rev': '_i4tktsK--U', 'name': 'Samwell', 'surname': 'Tarly', 'alive': True, 'age': 17, 'traits': ['C', 'L', 'I']}

{'_key': '266280148853', '_id': 'Characters/266280148853', '_rev': '_i4tktsK--V', 'name': 'Stannis', 'surname': 'Baratheon', 'alive': False, 'traits': ['H', 'O', 'P', 'M']}

{'_key': '266280148854', '_id': 'Characters/266280148854', '_rev': '_i4tktsK--W', 'name': 'Melisandre', 'alive': True, 'traits': ['G', 'E', 'H']}

{'_key': '266280148855', '_id': 'Characters/266280148855', '_rev': '_i4tktsK--X', 'name': 'Margaery', 'surname': 'Tyrell', 'alive': False, 'traits': ['M', 'D', 'B']}

{'_key': '266280148856', '_id': 'Characters/266280148856', '_rev': '_i4tktsK--Y', 'name': 'Jeor', 'surname': 'Mormont', 'alive': False, 'traits': ['C', 'H', 'M', 'P']}

{'_key': '266280148857', '_id': 'Characters/266280148857', '_rev': '_i4tktsK--Z', 'name': 'Bronn', 'alive': True, 'traits': ['K', 'E', 'C']}

{'_key': '266280148858', '_id': 'Characters/266280148858', '_rev': '_i4tktsK--a', 'name': 'Varys', 'alive': True, 'traits': ['M', 'F', 'N', 'E']}

{'_key': '266280148859', '_id': 'Characters/266280148859', '_rev': '_i4tktsK--b', 'name': 'Shae', 'alive': False, 'traits': ['M', 'D', 'G']}

{'_key': '266280148860', '_id': 'Characters/266280148860', '_rev': '_i4tktsK--c', 'name': 'Talisa', 'surname': 'Maegyr', 'alive': False, 'traits': ['D', 'C', 'B']}

{'_key': '266280148861', '_id': 'Characters/266280148861', '_rev': '_i4tktsK--d', 'name': 'Gendry', 'alive': False, 'traits': ['K', 'C', 'A']}

{'_key': '266280148862', '_id': 'Characters/266280148862', '_rev': '_i4tktsK--e', 'name': 'Ygritte', 'alive': False, 'traits': ['A', 'P', 'K']}

{'_key': '266280148863', '_id': 'Characters/266280148863', '_rev': '_i4tktsK--f', 'name': 'Tormund', 'surname': 'Giantsbane', 'alive': True, 'traits': ['C', 'P', 'A', 'I']}

{'_key': '266280148864', '_id': 'Characters/266280148864', '_rev': '_i4tktsK--g', 'name': 'Gilly', 'alive': True, 'traits': ['L', 'J']}

{'_key': '266280148865', '_id': 'Characters/266280148865', '_rev': '_i4tktsK--h', 'name': 'Brienne', 'surname': 'Tarth', 'alive': True, 'age': 32, 'traits': ['P', 'C', 'A', 'K']}

{'_key': '266280148866', '_id': 'Characters/266280148866', '_rev': '_i4tktsK--i', 'name': 'Ramsay', 'surname': 'Bolton', 'alive': True, 'traits': ['E', 'O', 'G', 'A']}

{'_key': '266280148867', '_id': 'Characters/266280148867', '_rev': '_i4tktsK--j', 'name': 'Ellaria', 'surname': 'Sand', 'alive': True, 'traits': ['P', 'O', 'A', 'E']}

{'_key': '266280148868', '_id': 'Characters/266280148868', '_rev': '_i4tktsK--k', 'name': 'Daario', 'surname': 'Naharis', 'alive': True, 'traits': ['K', 'P', 'A']}

{'_key': '266280148869', '_id': 'Characters/266280148869', '_rev': '_i4tktsK--l', 'name': 'Missandei', 'alive': True, 'traits': ['D', 'L', 'C', 'M']}

{'_key': '266280148870', '_id': 'Characters/266280148870', '_rev': '_i4tktsK--m', 'name': 'Tommen', 'surname': 'Baratheon', 'alive': True, 'traits': ['I', 'L', 'B']}

{'_key': '266280148871', '_id': 'Characters/266280148871', '_rev': '_i4tktsK--n', 'name': 'Jaqen', 'surname': "H'ghar", 'alive': True, 'traits': ['H', 'F', 'K']}

{'_key': '266280148872', '_id': 'Characters/266280148872', '_rev': '_i4tktsK--o', 'name': 'Roose', 'surname': 'Bolton', 'alive': True, 'traits': ['H', 'E', 'F', 'A']}

{'_key': '266280148873', '_id': 'Characters/266280148873', '_rev': '_i4tktsK--p', 'name': 'The High Sparrow', 'alive': True, 'traits': ['H', 'M', 'F', 'O']}

{'_key': '266280150500', '_id': 'Characters/266280150500', '_rev': '_i4tw4xy--_', 'name': 'Ned', 'surname': 'Stark', 'alive': True, 'age': 41, 'traits': ['A', 'H', 'C', 'N', 'P']}

{'_key': '266280150512', '_id': 'Characters/266280150512', '_rev': '_i4tw8CK--_', 'name': 'Robert', 'surname': 'Baratheon', 'alive': False, 'traits': ['A', 'H', 'C']}

{'_key': '266280150513', '_id': 'Characters/266280150513', '_rev': '_i4tw8CK--A', 'name': 'Jaime', 'surname': 'Lannister', 'alive': True, 'age': 36, 'traits': ['A', 'F', 'B']}

{'_key': '266280150514', '_id': 'Characters/266280150514', '_rev': '_i4tw8CK--B', 'name': 'Catelyn', 'surname': 'Stark', 'alive': False, 'age': 40, 'traits': ['D', 'H', 'C']}

{'_key': '266280150515', '_id': 'Characters/266280150515', '_rev': '_i4tw8CK--C', 'name': 'Cersei', 'surname': 'Lannister', 'alive': True, 'age': 36, 'traits': ['H', 'E', 'F']}

{'_key': '266280150516', '_id': 'Characters/266280150516', '_rev': '_i4tw8CK--D', 'name': 'Daenerys', 'surname': 'Targaryen', 'alive': True, 'age': 16, 'traits': ['D', 'H', 'C']}

{'_key': '266280150517', '_id': 'Characters/266280150517', '_rev': '_i4tw8CK--E', 'name': 'Jorah', 'surname': 'Mormont', 'alive': False, 'traits': ['A', 'B', 'C', 'F']}

{'_key': '266280150518', '_id': 'Characters/266280150518', '_rev': '_i4tw8CK--F', 'name': 'Petyr', 'surname': 'Baelish', 'alive': False, 'traits': ['E', 'G', 'F']}

{'_key': '266280150519', '_id': 'Characters/266280150519', '_rev': '_i4tw8CK--G', 'name': 'Viserys', 'surname': 'Targaryen', 'alive': False, 'traits': ['O', 'L', 'N']}

{'_key': '266280150520', '_id': 'Characters/266280150520', '_rev': '_i4tw8CK--H', 'name': 'Jon', 'surname': 'Snow', 'alive': True, 'age': 16, 'traits': ['A', 'B', 'C', 'F']}

{'_key': '266280150521', '_id': 'Characters/266280150521', '_rev': '_i4tw8CK--I', 'name': 'Sansa', 'surname': 'Stark', 'alive': True, 'age': 13, 'traits': ['D', 'I', 'J']}

{'_key': '266280150522', '_id': 'Characters/266280150522', '_rev': '_i4tw8CK--J', 'name': 'Arya', 'surname': 'Stark', 'alive': True, 'age': 11, 'traits': ['C', 'K', 'L']}

{'_key': '266280150523', '_id': 'Characters/266280150523', '_rev': '_i4tw8CK--K', 'name': 'Robb', 'surname': 'Stark', 'alive': False, 'traits': ['A', 'B', 'C', 'K']}

{'_key': '266280150524', '_id': 'Characters/266280150524', '_rev': '_i4tw8CK--L', 'name': 'Theon', 'surname': 'Greyjoy', 'alive': True, 'age': 16, 'traits': ['E', 'R', 'K']}

{'_key': '266280150525', '_id': 'Characters/266280150525', '_rev': '_i4tw8CK--M', 'name': 'Bran', 'surname': 'Stark', 'alive': True, 'age': 10, 'traits': ['L', 'J']}

{'_key': '266280150526', '_id': 'Characters/266280150526', '_rev': '_i4tw8CK--N', 'name': 'Joffrey', 'surname': 'Baratheon', 'alive': False, 'age': 19, 'traits': ['I', 'L', 'O']}

{'_key': '266280150527', '_id': 'Characters/266280150527', '_rev': '_i4tw8CK--O', 'name': 'Sandor', 'surname': 'Clegane', 'alive': True, 'traits': ['A', 'P', 'K', 'F']}

{'_key': '266280150528', '_id': 'Characters/266280150528', '_rev': '_i4tw8CK--P', 'name': 'Tyrion', 'surname': 'Lannister', 'alive': True, 'age': 32, 'traits': ['F', 'K', 'M', 'N']}

{'_key': '266280150529', '_id': 'Characters/266280150529', '_rev': '_i4tw8CK--Q', 'name': 'Khal', 'surname': 'Drogo', 'alive': False, 'traits': ['A', 'C', 'O', 'P']}

{'_key': '266280150530', '_id': 'Characters/266280150530', '_rev': '_i4tw8CK--R', 'name': 'Tywin', 'surname': 'Lannister', 'alive': False, 'traits': ['O', 'M', 'H', 'F']}

{'_key': '266280150531', '_id': 'Characters/266280150531', '_rev': '_i4tw8CK--S', 'name': 'Davos', 'surname': 'Seaworth', 'alive': True, 'age': 49, 'traits': ['C', 'K', 'P', 'F']}

{'_key': '266280150532', '_id': 'Characters/266280150532', '_rev': '_i4tw8CK--T', 'name': 'Samwell', 'surname': 'Tarly', 'alive': True, 'age': 17, 'traits': ['C', 'L', 'I']}

{'_key': '266280150533', '_id': 'Characters/266280150533', '_rev': '_i4tw8CK--U', 'name': 'Stannis', 'surname': 'Baratheon', 'alive': False, 'traits': ['H', 'O', 'P', 'M']}

{'_key': '266280150534', '_id': 'Characters/266280150534', '_rev': '_i4tw8CK--V', 'name': 'Melisandre', 'alive': True, 'traits': ['G', 'E', 'H']}

{'_key': '266280150535', '_id': 'Characters/266280150535', '_rev': '_i4tw8CK--W', 'name': 'Margaery', 'surname': 'Tyrell', 'alive': False, 'traits': ['M', 'D', 'B']}

{'_key': '266280150536', '_id': 'Characters/266280150536', '_rev': '_i4tw8CK--X', 'name': 'Jeor', 'surname': 'Mormont', 'alive': False, 'traits': ['C', 'H', 'M', 'P']}

{'_key': '266280150537', '_id': 'Characters/266280150537', '_rev': '_i4tw8CK--Y', 'name': 'Bronn', 'alive': True, 'traits': ['K', 'E', 'C']}

{'_key': '266280150538', '_id': 'Characters/266280150538', '_rev': '_i4tw8CK--Z', 'name': 'Varys', 'alive': True, 'traits': ['M', 'F', 'N', 'E']}

{'_key': '266280150539', '_id': 'Characters/266280150539', '_rev': '_i4tw8CK--a', 'name': 'Shae', 'alive': False, 'traits': ['M', 'D', 'G']}

{'_key': '266280150540', '_id': 'Characters/266280150540', '_rev': '_i4tw8CK--b', 'name': 'Talisa', 'surname': 'Maegyr', 'alive': False, 'traits': ['D', 'C', 'B']}

{'_key': '266280150541', '_id': 'Characters/266280150541', '_rev': '_i4tw8CK--c', 'name': 'Gendry', 'alive': False, 'traits': ['K', 'C', 'A']}

{'_key': '266280150542', '_id': 'Characters/266280150542', '_rev': '_i4tw8CK--d', 'name': 'Ygritte', 'alive': False, 'traits': ['A', 'P', 'K']}

{'_key': '266280150543', '_id': 'Characters/266280150543', '_rev': '_i4tw8CK--e', 'name': 'Tormund', 'surname': 'Giantsbane', 'alive': True, 'traits': ['C', 'P', 'A', 'I']}

{'_key': '266280150544', '_id': 'Characters/266280150544', '_rev': '_i4tw8CK--f', 'name': 'Gilly', 'alive': True, 'traits': ['L', 'J']}

{'_key': '266280150545', '_id': 'Characters/266280150545', '_rev': '_i4tw8CK--g', 'name': 'Brienne', 'surname': 'Tarth', 'alive': True, 'age': 32, 'traits': ['P', 'C', 'A', 'K']}

{'_key': '266280150546', '_id': 'Characters/266280150546', '_rev': '_i4tw8CK--h', 'name': 'Ramsay', 'surname': 'Bolton', 'alive': True, 'traits': ['E', 'O', 'G', 'A']}

{'_key': '266280150547', '_id': 'Characters/266280150547', '_rev': '_i4tw8CK--i', 'name': 'Ellaria', 'surname': 'Sand', 'alive': True, 'traits': ['P', 'O', 'A', 'E']}

{'_key': '266280150548', '_id': 'Characters/266280150548', '_rev': '_i4tw8CK--j', 'name': 'Daario', 'surname': 'Naharis', 'alive': True, 'traits': ['K', 'P', 'A']}

{'_key': '266280150549', '_id': 'Characters/266280150549', '_rev': '_i4tw8CK--k', 'name': 'Missandei', 'alive': True, 'traits': ['D', 'L', 'C', 'M']}

{'_key': '266280150550', '_id': 'Characters/266280150550', '_rev': '_i4tw8CK--l', 'name': 'Tommen', 'surname': 'Baratheon', 'alive': True, 'traits': ['I', 'L', 'B']}

{'_key': '266280150551', '_id': 'Characters/266280150551', '_rev': '_i4tw8CK--m', 'name': 'Jaqen', 'surname': "H'ghar", 'alive': True, 'traits': ['H', 'F', 'K']}

{'_key': '266280150552', '_id': 'Characters/266280150552', '_rev': '_i4tw8CK--n', 'name': 'Roose', 'surname': 'Bolton', 'alive': True, 'traits': ['H', 'E', 'F', 'A']}

{'_key': '266280150553', '_id': 'Characters/266280150553', '_rev': '_i4tw8CK--o', 'name': 'The High Sparrow', 'alive': True, 'traits': ['H', 'M', 'F', 'O']}

{'_key': '266280153555', '_id': 'Characters/266280153555', '_rev': '_i4uLWg6--_', 'name': 'Ned', 'surname': 'Stark', 'alive': True, 'age': 41, 'traits': ['A', 'H', 'C', 'N', 'P']}

{'_key': '266280153557', '_id': 'Characters/266280153557', '_rev': '_i4uLaNq--_', 'name': 'Robert', 'surname': 'Baratheon', 'alive': False, 'traits': ['A', 'H', 'C']}

{'_key': '266280153558', '_id': 'Characters/266280153558', '_rev': '_i4uLaNq--A', 'name': 'Jaime', 'surname': 'Lannister', 'alive': True, 'age': 36, 'traits': ['A', 'F', 'B']}

{'_key': '266280153559', '_id': 'Characters/266280153559', '_rev': '_i4uLaNq--B', 'name': 'Catelyn', 'surname': 'Stark', 'alive': False, 'age': 40, 'traits': ['D', 'H', 'C']}

{'_key': '266280153560', '_id': 'Characters/266280153560', '_rev': '_i4uLaNq--C', 'name': 'Cersei', 'surname': 'Lannister', 'alive': True, 'age': 36, 'traits': ['H', 'E', 'F']}

{'_key': '266280153561', '_id': 'Characters/266280153561', '_rev': '_i4uLaNq--D', 'name': 'Daenerys', 'surname': 'Targaryen', 'alive': True, 'age': 16, 'traits': ['D', 'H', 'C']}

{'_key': '266280153562', '_id': 'Characters/266280153562', '_rev': '_i4uLaNq--E', 'name': 'Jorah', 'surname': 'Mormont', 'alive': False, 'traits': ['A', 'B', 'C', 'F']}

{'_key': '266280153563', '_id': 'Characters/266280153563', '_rev': '_i4uLaNq--F', 'name': 'Petyr', 'surname': 'Baelish', 'alive': False, 'traits': ['E', 'G', 'F']}

{'_key': '266280153564', '_id': 'Characters/266280153564', '_rev': '_i4uLaNq--G', 'name': 'Viserys', 'surname': 'Targaryen', 'alive': False, 'traits': ['O', 'L', 'N']}

{'_key': '266280153565', '_id': 'Characters/266280153565', '_rev': '_i4uLaNq--H', 'name': 'Jon', 'surname': 'Snow', 'alive': True, 'age': 16, 'traits': ['A', 'B', 'C', 'F']}

{'_key': '266280153566', '_id': 'Characters/266280153566', '_rev': '_i4uLaNq--I', 'name': 'Sansa', 'surname': 'Stark', 'alive': True, 'age': 13, 'traits': ['D', 'I', 'J']}

{'_key': '266280153567', '_id': 'Characters/266280153567', '_rev': '_i4uLaNq--J', 'name': 'Arya', 'surname': 'Stark', 'alive': True, 'age': 11, 'traits': ['C', 'K', 'L']}

{'_key': '266280153568', '_id': 'Characters/266280153568', '_rev': '_i4uLaNq--K', 'name': 'Robb', 'surname': 'Stark', 'alive': False, 'traits': ['A', 'B', 'C', 'K']}

{'_key': '266280153569', '_id': 'Characters/266280153569', '_rev': '_i4uLaNq--L', 'name': 'Theon', 'surname': 'Greyjoy', 'alive': True, 'age': 16, 'traits': ['E', 'R', 'K']}

{'_key': '266280153570', '_id': 'Characters/266280153570', '_rev': '_i4uLaNq--M', 'name': 'Bran', 'surname': 'Stark', 'alive': True, 'age': 10, 'traits': ['L', 'J']}

{'_key': '266280153571', '_id': 'Characters/266280153571', '_rev': '_i4uLaNq--N', 'name': 'Joffrey', 'surname': 'Baratheon', 'alive': False, 'age': 19, 'traits': ['I', 'L', 'O']}

{'_key': '266280153572', '_id': 'Characters/266280153572', '_rev': '_i4uLaNq--O', 'name': 'Sandor', 'surname': 'Clegane', 'alive': True, 'traits': ['A', 'P', 'K', 'F']}

{'_key': '266280153573', '_id': 'Characters/266280153573', '_rev': '_i4uLaNq--P', 'name': 'Tyrion', 'surname': 'Lannister', 'alive': True, 'age': 32, 'traits': ['F', 'K', 'M', 'N']}

{'_key': '266280153574', '_id': 'Characters/266280153574', '_rev': '_i4uLaNq--Q', 'name': 'Khal', 'surname': 'Drogo', 'alive': False, 'traits': ['A', 'C', 'O', 'P']}

{'_key': '266280153575', '_id': 'Characters/266280153575', '_rev': '_i4uLaNq--R', 'name': 'Tywin', 'surname': 'Lannister', 'alive': False, 'traits': ['O', 'M', 'H', 'F']}

{'_key': '266280153576', '_id': 'Characters/266280153576', '_rev': '_i4uLaNq--S', 'name': 'Davos', 'surname': 'Seaworth', 'alive': True, 'age': 49, 'traits': ['C', 'K', 'P', 'F']}

{'_key': '266280153577', '_id': 'Characters/266280153577', '_rev': '_i4uLaNq--T', 'name': 'Samwell', 'surname': 'Tarly', 'alive': True, 'age': 17, 'traits': ['C', 'L', 'I']}

{'_key': '266280153578', '_id': 'Characters/266280153578', '_rev': '_i4uLaNq--U', 'name': 'Stannis', 'surname': 'Baratheon', 'alive': False, 'traits': ['H', 'O', 'P', 'M']}

{'_key': '266280153579', '_id': 'Characters/266280153579', '_rev': '_i4uLaNq--V', 'name': 'Melisandre', 'alive': True, 'traits': ['G', 'E', 'H']}

{'_key': '266280153580', '_id': 'Characters/266280153580', '_rev': '_i4uLaNq--W', 'name': 'Margaery', 'surname': 'Tyrell', 'alive': False, 'traits': ['M', 'D', 'B']}

{'_key': '266280153581', '_id': 'Characters/266280153581', '_rev': '_i4uLaNq--X', 'name': 'Jeor', 'surname': 'Mormont', 'alive': False, 'traits': ['C', 'H', 'M', 'P']}

{'_key': '266280153582', '_id': 'Characters/266280153582', '_rev': '_i4uLaNq--Y', 'name': 'Bronn', 'alive': True, 'traits': ['K', 'E', 'C']}

{'_key': '266280153583', '_id': 'Characters/266280153583', '_rev': '_i4uLaNq--Z', 'name': 'Varys', 'alive': True, 'traits': ['M', 'F', 'N', 'E']}

{'_key': '266280153584', '_id': 'Characters/266280153584', '_rev': '_i4uLaNq--a', 'name': 'Shae', 'alive': False, 'traits': ['M', 'D', 'G']}

{'_key': '266280153585', '_id': 'Characters/266280153585', '_rev': '_i4uLaNq--b', 'name': 'Talisa', 'surname': 'Maegyr', 'alive': False, 'traits': ['D', 'C', 'B']}

{'_key': '266280153586', '_id': 'Characters/266280153586', '_rev': '_i4uLaNq--c', 'name': 'Gendry', 'alive': False, 'traits': ['K', 'C', 'A']}

{'_key': '266280153587', '_id': 'Characters/266280153587', '_rev': '_i4uLaNq--d', 'name': 'Ygritte', 'alive': False, 'traits': ['A', 'P', 'K']}

{'_key': '266280153588', '_id': 'Characters/266280153588', '_rev': '_i4uLaNq--e', 'name': 'Tormund', 'surname': 'Giantsbane', 'alive': True, 'traits': ['C', 'P', 'A', 'I']}

{'_key': '266280153589', '_id': 'Characters/266280153589', '_rev': '_i4uLaNq--f', 'name': 'Gilly', 'alive': True, 'traits': ['L', 'J']}


* **Chèn các bản ghi**

In [9]:
insert_query = """
LET data = [
    { "name": "Robert", "surname": "Baratheon", "alive": false, "traits": ["A","H","C"] },
    { "name": "Jaime", "surname": "Lannister", "alive": true, "age": 36, "traits": ["A","F","B"] },
    { "name": "Catelyn", "surname": "Stark", "alive": false, "age": 40, "traits": ["D","H","C"] },
    { "name": "Cersei", "surname": "Lannister", "alive": true, "age": 36, "traits": ["H","E","F"] },
    { "name": "Daenerys", "surname": "Targaryen", "alive": true, "age": 16, "traits": ["D","H","C"] },
    { "name": "Jorah", "surname": "Mormont", "alive": false, "traits": ["A","B","C","F"] },
    { "name": "Petyr", "surname": "Baelish", "alive": false, "traits": ["E","G","F"] },
    { "name": "Viserys", "surname": "Targaryen", "alive": false, "traits": ["O","L","N"] },
    { "name": "Jon", "surname": "Snow", "alive": true, "age": 16, "traits": ["A","B","C","F"] },
    { "name": "Sansa", "surname": "Stark", "alive": true, "age": 13, "traits": ["D","I","J"] },
    { "name": "Arya", "surname": "Stark", "alive": true, "age": 11, "traits": ["C","K","L"] },
    { "name": "Robb", "surname": "Stark", "alive": false, "traits": ["A","B","C","K"] },
    { "name": "Theon", "surname": "Greyjoy", "alive": true, "age": 16, "traits": ["E","R","K"] },
    { "name": "Bran", "surname": "Stark", "alive": true, "age": 10, "traits": ["L","J"] },
    { "name": "Joffrey", "surname": "Baratheon", "alive": false, "age": 19, "traits": ["I","L","O"] },
    { "name": "Sandor", "surname": "Clegane", "alive": true, "traits": ["A","P","K","F"] },
    { "name": "Tyrion", "surname": "Lannister", "alive": true, "age": 32, "traits": ["F","K","M","N"] },
    { "name": "Khal", "surname": "Drogo", "alive": false, "traits": ["A","C","O","P"] },
    { "name": "Tywin", "surname": "Lannister", "alive": false, "traits": ["O","M","H","F"] },
    { "name": "Davos", "surname": "Seaworth", "alive": true, "age": 49, "traits": ["C","K","P","F"] },
    { "name": "Samwell", "surname": "Tarly", "alive": true, "age": 17, "traits": ["C","L","I"] },
    { "name": "Stannis", "surname": "Baratheon", "alive": false, "traits": ["H","O","P","M"] },
    { "name": "Melisandre", "alive": true, "traits": ["G","E","H"] },
    { "name": "Margaery", "surname": "Tyrell", "alive": false, "traits": ["M","D","B"] },
    { "name": "Jeor", "surname": "Mormont", "alive": false, "traits": ["C","H","M","P"] },
    { "name": "Bronn", "alive": true, "traits": ["K","E","C"] },
    { "name": "Varys", "alive": true, "traits": ["M","F","N","E"] },
    { "name": "Shae", "alive": false, "traits": ["M","D","G"] },
    { "name": "Talisa", "surname": "Maegyr", "alive": false, "traits": ["D","C","B"] },
    { "name": "Gendry", "alive": false, "traits": ["K","C","A"] },
    { "name": "Ygritte", "alive": false, "traits": ["A","P","K"] },
    { "name": "Tormund", "surname": "Giantsbane", "alive": true, "traits": ["C","P","A","I"] },
    { "name": "Gilly", "alive": true, "traits": ["L","J"] },
    { "name": "Brienne", "surname": "Tarth", "alive": true, "age": 32, "traits": ["P","C","A","K"] },
    { "name": "Ramsay", "surname": "Bolton", "alive": true, "traits": ["E","O","G","A"] },
    { "name": "Ellaria", "surname": "Sand", "alive": true, "traits": ["P","O","A","E"] },
    { "name": "Daario", "surname": "Naharis", "alive": true, "traits": ["K","P","A"] },
    { "name": "Missandei", "alive": true, "traits": ["D","L","C","M"] },
    { "name": "Tommen", "surname": "Baratheon", "alive": true, "traits": ["I","L","B"] },
    { "name": "Jaqen", "surname": "H'ghar", "alive": true, "traits": ["H","F","K"] },
    { "name": "Roose", "surname": "Bolton", "alive": true, "traits": ["H","E","F","A"] },
    { "name": "The High Sparrow", "alive": true, "traits": ["H","M","F","O"] }
]

FOR d IN data
    INSERT d INTO Characters
"""

db.AQLQuery(insert_query)

* Truy vấn cơ bản

In [10]:
all_characters_names = """
FOR name IN Characters
    RETURN name.name
"""

query_result = db.AQLQuery(all_characters_names, rawResults=True)

# Lấy ra chỉ 10 tên
for i in range(10):
  print(query_result[i])

Ned
Robert
Jaime
Catelyn
Cersei
Daenerys
Jorah
Petyr
Viserys
Jon

In [11]:
list(query_result)

['Ned',
 'Robert',
 'Jaime',
 'Catelyn',
 'Cersei',
 'Daenerys',
 'Jorah',
 'Petyr',
 'Viserys',
 'Jon',
 'Sansa',
 'Arya',
 'Robb',
 'Theon',
 'Bran',
 'Joffrey',
 'Sandor',
 'Tyrion',
 'Khal',
 'Tywin',
 'Davos',
 'Samwell',
 'Stannis',
 'Melisandre',
 'Margaery',
 'Jeor',
 'Bronn',
 'Varys',
 'Shae',
 'Talisa',
 'Gendry',
 'Ygritte',
 'Tormund',
 'Gilly',
 'Brienne',
 'Ramsay',
 'Ellaria',
 'Daario',
 'Missandei',
 'Tommen',
 'Jaqen',
 'Roose',
 'The High Sparrow',
 'Ned',
 'Robert',
 'Jaime',
 'Catelyn',
 'Cersei',
 'Daenerys',
 'Jorah',
 'Petyr',
 'Viserys',
 'Jon',
 'Sansa',
 'Arya',
 'Robb',
 'Theon',
 'Bran',
 'Joffrey',
 'Sandor',
 'Tyrion',
 'Khal',
 'Tywin',
 'Davos',
 'Samwell',
 'Stannis',
 'Melisandre',
 'Margaery',
 'Jeor',
 'Bronn',
 'Varys',
 'Shae',
 'Talisa',
 'Gendry',
 'Ygritte',
 'Tormund',
 'Gilly',
 'Brienne',
 'Ramsay',
 'Ellaria',
 'Daario',
 'Missandei',
 'Tommen',
 'Jaqen',
 'Roose',
 'The High Sparrow',
 'Ned',
 'Robert',
 'Jaime',
 'Catelyn',
 'Cersei',
 'Daenerys',
 'Jorah',
 'Petyr',
 'Viserys',
 'Jon',
 'Sansa',
 'Arya',
 'Robb',
 'Theon',
 'Bran',
 'Joffrey',
 'Sandor',
 'Tyrion',
 'Khal',
 'Tywin',
 'Davos',
 'Samwell',
 'Stannis',
 'Melisandre',
 'Margaery',
 'Jeor',
 'Bronn',
 'Varys',
 'Shae',
 'Talisa',
 'Gendry',
 'Ygritte',
 'Tormund',
 'Gilly',
 'Brienne',
 'Ramsay',
 'Ellaria',
 'Daario',
 'Missandei',
 'Tommen',
 'Jaqen',
 'Roose',
 'The High Sparrow',
 'Ned',
 'Robert',
 'Jaime',
 'Catelyn',
 'Cersei',
 'Daenerys',
 'Jorah',
 'Petyr',
 'Viserys',
 'Jon',
 'Sansa',
 'Arya',
 'Robb',
 'Theon',
 'Bran',
 'Joffrey',
 'Sandor',
 'Tyrion',
 'Khal',
 'Tywin',
 'Davos',
 'Samwell',
 'Stannis',
 'Melisandre',
 'Margaery',
 'Jeor',
 'Bronn',
 'Varys',
 'Shae',
 'Talisa',
 'Gendry',
 'Ygritte',
 'Tormund',
 'Gilly',
 'Brienne',
 'Ramsay',
 'Ellaria',
 'Daario',
 'Missandei',
 'Tommen',
 'Jaqen',
 'Roose',
 'The High Sparrow']

* **Truy vấn có điều kiện**

In [12]:
find_ned_query = """
FOR c IN Characters
    FILTER c.alive == false
    RETURN c.name
"""
query_result = db.AQLQuery(find_ned_query, rawResults=True)
for doc in  query_result:
    print(doc, sep='\n')

Robert
Catelyn
Jorah
Petyr
Viserys
Robb
Joffrey
Khal
Tywin
Stannis
Margaery
Jeor
Shae
Talisa
Gendry
Ygritte
Robert
Catelyn
Jorah
Petyr
Viserys
Robb
Joffrey
Khal
Tywin
Stannis
Margaery
Jeor
Shae
Talisa
Gendry
Ygritte
Robert
Catelyn
Jorah
Petyr
Viserys
Robb
Joffrey
Khal
Tywin
Stannis
Margaery
Jeor
Shae
Talisa
Gendry
Ygritte
Robert
Catelyn
Jorah
Petyr
Viserys
Robb
Joffrey
Khal
Tywin
Stannis
Margaery
Jeor
Shae
Talisa
Gendry
Ygritte

In [13]:
find_ned_query = """
FOR c IN Characters
    FILTER c.alive == true AND c.age >= 18
    RETURN c.name
"""
query_result = db.AQLQuery(find_ned_query, rawResults=True)

for doc in  query_result:
    print(doc, sep='\n')

Ned
Jaime
Cersei
Tyrion
Davos
Brienne
Ned
Jaime
Cersei
Tyrion
Davos
Brienne
Ned
Jaime
Cersei
Tyrion
Davos
Brienne
Ned
Jaime
Cersei
Tyrion
Davos
Brienne

In [14]:
find_ned_query = """
FOR c IN Characters
    FILTER c.alive == false AND c.age >= 18
    RETURN { Name: c.name, Surname: c.surname, Age: c.age }
"""
query_result = db.AQLQuery(find_ned_query, rawResults=True)

for doc in  query_result:
    print(doc, sep='\n')

{'Name': 'Catelyn', 'Surname': 'Stark', 'Age': 40}
{'Name': 'Joffrey', 'Surname': 'Baratheon', 'Age': 19}
{'Name': 'Catelyn', 'Surname': 'Stark', 'Age': 40}
{'Name': 'Joffrey', 'Surname': 'Baratheon', 'Age': 19}
{'Name': 'Catelyn', 'Surname': 'Stark', 'Age': 40}
{'Name': 'Joffrey', 'Surname': 'Baratheon', 'Age': 19}
{'Name': 'Catelyn', 'Surname': 'Stark', 'Age': 40}
{'Name': 'Joffrey', 'Surname': 'Baratheon', 'Age': 19}

In [15]:
find_ned_query = """
FOR c IN Characters
    FILTER c.surname == "Bolton"
    RETURN {Name: c.name, Surname: c.surname}
"""
query_result = db.AQLQuery(find_ned_query, rawResults=True)
for doc in  query_result:
    print(doc, sep='\n')

{'Name': 'Ramsay', 'Surname': 'Bolton'}
{'Name': 'Roose', 'Surname': 'Bolton'}
{'Name': 'Ramsay', 'Surname': 'Bolton'}
{'Name': 'Roose', 'Surname': 'Bolton'}
{'Name': 'Ramsay', 'Surname': 'Bolton'}
{'Name': 'Roose', 'Surname': 'Bolton'}
{'Name': 'Ramsay', 'Surname': 'Bolton'}
{'Name': 'Roose', 'Surname': 'Bolton'}

In [16]:

sample_chars_query = """
FOR c IN Characters
    LIMIT 10
    RETURN c.name
"""

query_result = db.AQLQuery(sample_chars_query, rawResults=True)

for doc in  query_result:
    print(doc, sep='\n')

Ned
Robert
Jaime
Catelyn
Cersei
Daenerys
Jorah
Petyr
Viserys
Jon

In [17]:

sample_chars_query = """
FOR c IN Characters
    SORT c.name
    LIMIT 10
    RETURN { Name: c.name, Surname: c.surname, Age: c.age }
"""

query_result = db.AQLQuery(sample_chars_query, rawResults=True)

for doc in  query_result:
    print(doc, sep='\n')

{'Name': 'Arya', 'Surname': 'Stark', 'Age': 11}
{'Name': 'Arya', 'Surname': 'Stark', 'Age': 11}
{'Name': 'Arya', 'Surname': 'Stark', 'Age': 11}
{'Name': 'Arya', 'Surname': 'Stark', 'Age': 11}
{'Name': 'Bran', 'Surname': 'Stark', 'Age': 10}
{'Name': 'Bran', 'Surname': 'Stark', 'Age': 10}
{'Name': 'Bran', 'Surname': 'Stark', 'Age': 10}
{'Name': 'Bran', 'Surname': 'Stark', 'Age': 10}
{'Name': 'Brienne', 'Surname': 'Tarth', 'Age': 32}
{'Name': 'Brienne', 'Surname': 'Tarth', 'Age': 32}

# 3. Tạo đồ thị

## Lấy data từ "shortest path data"

In [18]:
from pyArango.collection import Collection, Field, Edges
from pyArango.graph import Graph, EdgeDefinition

# Định nghĩa Collections
class Places(Collection):
    _fields = {
        "label": Field()
    }

class Connect(Edges):
    _fields = {
        "travelTime": Field()
    }

# Định nghĩa Graph
class TravelGraph(Graph):
    _edgeDefinitions = [
        EdgeDefinition("Connect", fromCollections=["Places"], toCollections=["Places"]),
        ]
    _orphanedCollections = []


if "Places" not in db.collections:
    db.createCollection(className="Places")

if "Connect" not in db.collections:
    db.createCollection(className="Connect")

# Tạo graph
if "TravelGraph" not in db.graphs:
    travel_graph = db.createGraph("TravelGraph")
else:
    travel_graph = db.graphs["TravelGraph"]


import json

# Đọc dữ liệu từ tệp JSON
with open("./shortest_path_data/places.json", "r") as f:
    places_data = json.load(f)
    db["Places"].importBulk(places_data)


with open("./shortest_path_data/connect.json", "r") as f:
    connections_data = json.load(f)
    db["Connect"].importBulk(connections_data)

print("Tạo đồ thị thành công")

Tạo đồ thị thành công

In [19]:
def get_graph_data(directed = False):
    places_query = "FOR v IN Places RETURN {key: v._key, label: v.label}"
    connections_query = "FOR e IN Connect RETURN {from: e._from, to: e._to, travelTime: e.travelTime}"

    places = {doc["key"]: doc["label"] for doc in db.AQLQuery(places_query, rawResults=True)}
    connections = db.AQLQuery(connections_query, rawResults=True)

    # Xây dựng danh sách kề với trọng số
    adjacency_list = {key: [] for key in places.keys()}
    for connection in connections:
        from_key = connection["from"].split("/")[-1]
        to_key = connection["to"].split("/")[-1]
        travel_time = connection["travelTime"]
        adjacency_list[from_key].append((to_key, travel_time))
        if not directed:
            adjacency_list[to_key].append((from_key, travel_time))
    return adjacency_list, places

adjacency_list, places = get_graph_data()
for key, value in adjacency_list.items():
    print(f"{key}: {value}")

Inverness: [('Aberdeen', 2.5), ('Edmonton', 4), ('StAndrews', 4.5)]
Aberdeen: [('Inverness', 2.5), ('Leuchars', 1.5)]
Leuchars: [('Aberdeen', 1.5), ('Edinburgh', 3), ('StAndrews', 0.2), ('Carlisle', 1.5)]
StAndrews: [('Leuchars', 0.2), ('Inverness', 4.5)]
Edinburgh: [('Leuchars', 3), ('Glasgow', 1), ('York', 4)]
Glasgow: [('Edinburgh', 1), ('Carlisle', 1)]
York: [('Edinburgh', 4), ('Carlisle', 2.5), ('London', 1.8)]
Carlisle: [('Glasgow', 1), ('York', 2.5), ('Birmingham', 1), ('Leuchars', 1.5), ('Cologne', 1.25)]
Birmingham: [('Carlisle', 1), ('London', 2.5), ('Toronto', 8.25)]
London: [('Birmingham', 2.5), ('York', 1.8), ('Brussels', 2.5)]
Brussels: [('London', 2.5), ('Cologne', 1.5)]
Cologne: [('Brussels', 1.5), ('Carlisle', 1.25)]
Toronto: [('Winnipeg', 36), ('Birmingham', 8.25)]
Winnipeg: [('Toronto', 36), ('Saskatoon', 12), ('Vancouver', 4.75)]
Saskatoon: [('Winnipeg', 12), ('Edmonton', 12), ('Jasper', 6)]
Edmonton: [('Saskatoon', 12), ('Jasper', 6), ('Inverness', 4)]
Jasper: [('Edmonton', 6), ('Vancouver', 13), ('Saskatoon', 6)]
Vancouver: [('Jasper', 13), ('Winnipeg', 4.75)]

## Đường đi ngắn nhất

In [20]:
query = """
FOR p IN OUTBOUND K_SHORTEST_PATHS 'Places/Aberdeen' TO 'Places/London'
GRAPH 'TravelGraph'
    LIMIT 1
    RETURN {
        places: p.vertices[*].label,
        travelTimeTotal: SUM(p.edges[*].travelTime)
    }
"""

query_result = db.AQLQuery(query, rawResults=True)

for doc in query_result:
    print(doc, sep='\n')

{'places': ['Aberdeen', 'Leuchars', 'Carlisle', 'York', 'London'], 'travelTimeTotal': 7.3}

## Thuật toán Prim

In [21]:
from GraphAlgo import *

start_vertex = 'Inverness'
mst_edges, total_weight = prim(adjacency_list, start_vertex)

# Hiển thị kết quả
print("Cây khung nhỏ nhất:", mst_edges)
print("Tổng trọng số:", total_weight)

Cây khung nhỏ nhất: [('Inverness', 'Aberdeen', 2.5), ('Aberdeen', 'Leuchars', 1.5), ('Leuchars', 'StAndrews', 0.2), ('Leuchars', 'Carlisle', 1.5), ('Carlisle', 'Birmingham', 1), ('Carlisle', 'Glasgow', 1), ('Glasgow', 'Edinburgh', 1), ('Carlisle', 'Cologne', 1.25), ('Cologne', 'Brussels', 1.5), ('Birmingham', 'London', 2.5), ('London', 'York', 1.8), ('Inverness', 'Edmonton', 4), ('Edmonton', 'Jasper', 6), ('Jasper', 'Saskatoon', 6), ('Birmingham', 'Toronto', 8.25), ('Saskatoon', 'Winnipeg', 12), ('Winnipeg', 'Vancouver', 4.75)]
Tổng trọng số: 56.75

## Kruskal

In [22]:
mst_edges, total_weight = kruskal(adjacency_list)

# Hiển thị kết quả
print("Cây khung nhỏ nhất:", mst_edges)
print("Tổng trọng số:", total_weight)

Cây khung nhỏ nhất: [('Leuchars', 'StAndrews', 0.2), ('Edinburgh', 'Glasgow', 1), ('Glasgow', 'Carlisle', 1), ('Carlisle', 'Birmingham', 1), ('Carlisle', 'Cologne', 1.25), ('Aberdeen', 'Leuchars', 1.5), ('Leuchars', 'Carlisle', 1.5), ('Brussels', 'Cologne', 1.5), ('York', 'London', 1.8), ('Inverness', 'Aberdeen', 2.5), ('York', 'Carlisle', 2.5), ('Inverness', 'Edmonton', 4), ('Winnipeg', 'Vancouver', 4.75), ('Saskatoon', 'Jasper', 6), ('Edmonton', 'Jasper', 6), ('Birmingham', 'Toronto', 8.25), ('Winnipeg', 'Saskatoon', 12)]
Tổng trọng số: 56.75

## Tô màu

## Lấy data từ "components data"

In [23]:
from pyArango.collection import Collection, Field, Edges
from pyArango.graph import Graph, EdgeDefinition

# Định nghĩa Collections
class Components(Collection):
    _fields = {
        "_key": Field()
    }

class Connections(Edges):
    pass

# Định nghĩa Graph
class ComponentsGraph(Graph):
    _edgeDefinitions = [
        EdgeDefinition("Connections", fromCollections=["Components"], toCollections=["Components"]),
        ]
    _orphanedCollections = []


if "Components" not in db.collections:
    db.createCollection(className="Components")

if "Connections" not in db.collections:
    db.createCollection(className="Connections")

# Tạo graph
if "ComponentsGraph" not in db.graphs:
    travel_graph = db.createGraph("ComponentsGraph")
else:
    travel_graph = db.graphs["ComponentsGraph"]


import json

# Đọc dữ liệu từ tệp JSON
with open("./components_data/components.json", "r") as f:
    places_data = json.load(f)
    db["Components"].importBulk(places_data)


with open("./components_data/connections.json", "r") as f:
    connections_data = json.load(f)
    db["Connections"].importBulk(connections_data)

print("Tạo đồ thị thành công")

Tạo đồ thị thành công

In [24]:
def get_graph_data(directed=False):
    places_query = "FOR v IN Components RETURN v._key"
    connections_query = "FOR e IN Connections RETURN {from: e._from, to: e._to}"

    places = {doc for doc in db.AQLQuery(places_query, rawResults=True)}
    connections = db.AQLQuery(connections_query, rawResults=True)

    # Xây dựng danh sách kề
    adjacency_list = {key: [] for key in places}
    for connection in connections:
        from_key = connection["from"].split("/")[-1]
        to_key = connection["to"].split("/")[-1]
        adjacency_list[from_key].append(to_key)
        if not directed:
            adjacency_list[to_key].append(from_key)
    return adjacency_list, places

adjacency_list, places = get_graph_data()
for key, value in adjacency_list.items():
    print(f"{key}: {value}")

B5: ['B4']
B22: ['B20']
A2: ['A1', 'A3']
B12: ['B11', 'B13']
B8: ['B7']
B10: ['B7', 'B11']
B11: ['B10', 'B12']
B19: ['B7', 'B17']
B16: ['B15']
C5: ['C4', 'C6', 'C7']
B15: ['B14', 'B16', 'B17']
B7: ['B6', 'B8', 'B9', 'B10', 'B19']
B9: ['B7']
C3: ['C2', 'C4']
B3: ['B1', 'B6', 'B4']
A4: ['A3', 'A1']
B1: ['B3']
C10: ['C8']
B6: ['B3', 'B7']
B2: ['B4']
C1: ['C2']
B13: ['B12', 'B20', 'B14']
A1: ['A2', 'A4']
C4: ['C3', 'C5', 'C7']
B14: ['B13', 'B15']
C7: ['C4', 'C5', 'C8']
B21: ['B20']
A3: ['A2', 'A4']
B4: ['B2', 'B3', 'B5']
B18: ['B17']
C6: ['C5']
B17: ['B15', 'B18', 'B19']
C8: ['C7', 'C9', 'C10']
C2: ['C1', 'C3']
B20: ['B13', 'B21', 'B22']
C9: ['C8']

In [25]:
start = 'A2'

free_ser        = pd.Series(1, index = adjacency_list.keys())
free_ser[start] = 0

seq = []
dfs(adjacency_list, free_ser, start, seq)
seq = ' --> '.join(seq)
print(f'Chuỗi thứ tự duyệt đồ thị từ đỉnh [{start}]:\n{seq}')

Chuỗi thứ tự duyệt đồ thị từ đỉnh [A2]:
A2 --> A1 --> A4 --> A3

In [26]:
components = dfs_all_components(adjacency_list)
for c in components:
    print(f'Thành phần liên thông #{components.index(c) + 1} = {c}')

Thành phần liên thông #1 = ['B5', 'B4', 'B2', 'B3', 'B1', 'B6', 'B7', 'B8', 'B9', 'B10', 'B11', 'B12', 'B13', 'B20', 'B21', 'B22', 'B14', 'B15', 'B16', 'B17', 'B18', 'B19']
Thành phần liên thông #2 = ['A2', 'A1', 'A4', 'A3']
Thành phần liên thông #3 = ['C5', 'C4', 'C3', 'C2', 'C1', 'C7', 'C8', 'C9', 'C10', 'C6']

In [51]:
def find_hamilton_cycle(adjacency_list, start):
    def backtrack(path):
        print(f"Backtracking path: {path}")
        if len(path) == len(adjacency_list) and start in adjacency_list[path[-1]]:
            print(f"Found Hamiltonian cycle: {path + [start]}")
            return path + [start]  # Thêm đỉnh quay về
        for next_vertex in adjacency_list[path[-1]]:
            if next_vertex not in path:
                result = backtrack(path + [next_vertex])
                if result:
                    return result
        return None

    return backtrack([start])
# khởi điểm
start = 'A1'

# Tìm chu trình Hamilton
hamilton_cycle = find_hamilton_cycle(adjacency_list, start)

Backtracking path: ['A1']
Backtracking path: ['A1', 'A2']
Backtracking path: ['A1', 'A2', 'A3']
Backtracking path: ['A1', 'A2', 'A3', 'A4']
Backtracking path: ['A1', 'A4']
Backtracking path: ['A1', 'A4', 'A3']
Backtracking path: ['A1', 'A4', 'A3', 'A2']

In [47]:
# Tìm đường đi Euler
start = 'A2'
euler_path = find_euler_path(adjacency_list, start)

print("Đường đi Euler:")
print(' -> '.join(euler_path))

# In thống kê
print(f"Số đỉnh trong đường đi: {len(euler_path)}")
edges_count = sum(len(adjacency_list[v]) for v in adjacency_list) // 2
print(f"Tổng số cạnh trong đồ thị: {edges_count}")

Đường đi Euler:
A2 -> A1 -> A4 -> A3 -> A2
Số đỉnh trong đường đi: 5
Tổng số cạnh trong đồ thị: 36

In [48]:
# Sử dụng hàm BFS
start = 'A2'
bfs_traversal = bfs(adjacency_list, start)

# In kết quả
print(f"Thứ tự duyệt BFS :")
print(' --> '.join(bfs_traversal))

# Thống kê
print(f"\nTổng số đỉnh đã duyệt: {len(bfs_traversal)}")
print(f"Đỉnh bắt đầu: {start}")

Thứ tự duyệt BFS :
A2 --> A1 --> A3 --> A4

Tổng số đỉnh đã duyệt: 4
Đỉnh bắt đầu: A2